<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
        <setting name="mapUnderscoreToCamelCase" value="true"></setting>
        <!-- 设置运行参数 -->
        <!-- 全局映射器启用缓存 -->
        <setting name="cacheEnabled" value="true" />
        <!-- 查询时,关闭关联对象及时加载以提高性能 -->
        <setting name="lazyLoadingEnabled" value="false" />
        <!-- 设置关联对象加载的形态,此处为按需加载字段(加载字段由SQL指定),不会加载关联表的所有字段,以提高性能 -->
        <setting name="aggressiveLazyLoading" value="false" />
        <!-- 对于位置的SQL查询,允许返回不同的结果集以达到通用的效果 -->
        <setting name="multipleResultSetsEnabled" value="true" />
        <!-- 允许使用列标签代替列明 -->
        <setting name="useColumnLabel" value="true" />
        <!-- 允许使用自定义的主键值(比如由程序生成的UUID 32位编码作为键值), 数据表的pk生成策略将被覆盖 -->
        <setting name="useGeneratedKeys" value="true" />
        <!-- 给予被嵌套的resultMap以字段-属性的映射支持 -->
        <setting name="autoMappingBehavior" value="PARTIAL" />
        <!-- 对于批量更新操作缓存SQL以提高性能 -->
        <setting name="defaultExecutorType" value="REUSE" />
        <!-- 数据库超过25000秒仍未响应则超时 -->
        <setting name="defaultStatementTimeout" value="25000" />
        <!-- 打印查询语句 -->
         <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>
    <typeAliases>
        <!-- 避免包扫描导致的class文件解析问题，改为具体类注册 -->
        <!-- 主包类 -->
        <typeAlias type="com.sy.model.AccessToken" alias="AccessToken"/>
        <typeAlias type="com.sy.model.Answer_ask" alias="Answer_ask"/>
        <typeAlias type="com.sy.model.App" alias="App"/>
        <typeAlias type="com.sy.model.Ask" alias="Ask"/>
        <typeAlias type="com.sy.model.Ask_label" alias="Ask_label"/>
        <typeAlias type="com.sy.model.Authority" alias="Authority"/>
        <typeAlias type="com.sy.model.Blog" alias="Blog"/>
        <typeAlias type="com.sy.model.BlogReplay" alias="BlogReplay"/>
        <typeAlias type="com.sy.model.Bullet" alias="Bullet"/>
        <typeAlias type="com.sy.model.Classify" alias="Classify"/>
        <typeAlias type="com.sy.model.Collect" alias="Collect"/>
        <typeAlias type="com.sy.model.Collectitems" alias="Collectitems"/>
        <typeAlias type="com.sy.model.Content" alias="Content"/>
        <typeAlias type="com.sy.model.DailyContentVO" alias="DailyContentVO"/>
        <typeAlias type="com.sy.model.DailyListItemVO" alias="DailyListItemVO"/>
        <typeAlias type="com.sy.model.Download" alias="Download"/>
        <typeAlias type="com.sy.model.DownloadCategory" alias="DownloadCategory"/>
        <typeAlias type="com.sy.model.Downloadreply" alias="Downloadreply"/>
        <typeAlias type="com.sy.model.Emil" alias="Emil"/>
        <typeAlias type="com.sy.model.Fa_att" alias="Fa_att"/>
        <typeAlias type="com.sy.model.Fans" alias="Fans"/>
        <typeAlias type="com.sy.model.FastDfsInfo" alias="FastDfsInfo"/>
        <typeAlias type="com.sy.model.FilePath" alias="FilePath"/>
        <typeAlias type="com.sy.model.Forum" alias="Forum"/>
        <typeAlias type="com.sy.model.Forumcategory" alias="Forumcategory"/>
        <typeAlias type="com.sy.model.Forum_Replay" alias="Forum_Replay"/>
        <typeAlias type="com.sy.model.Function" alias="Function"/>
        <typeAlias type="com.sy.model.Information" alias="Information"/>
        <typeAlias type="com.sy.model.Integrals" alias="Integrals"/>
        <typeAlias type="com.sy.model.Invitation" alias="Invitation"/>
        <typeAlias type="com.sy.model.Invitation_Replay" alias="Invitation_Replay"/>
        <typeAlias type="com.sy.model.Invitationreply" alias="Invitationreply"/>
        <typeAlias type="com.sy.model.Like" alias="Like"/>
        <typeAlias type="com.sy.model.MailModel" alias="MailModel"/>
        <typeAlias type="com.sy.model.Menu" alias="Menu"/>
        <typeAlias type="com.sy.model.Music" alias="Music"/>
        <typeAlias type="com.sy.model.PaymentRecord" alias="PaymentRecord"/>
        <typeAlias type="com.sy.model.Power" alias="Power"/>
        <typeAlias type="com.sy.model.Reply" alias="Reply"/>
        <typeAlias type="com.sy.model.Resocollect" alias="Resocollect"/>
        <typeAlias type="com.sy.model.Role" alias="Role"/>
        <typeAlias type="com.sy.model.ScanRecord" alias="ScanRecord"/>
        <typeAlias type="com.sy.model.Se_label" alias="Se_label"/>
        <typeAlias type="com.sy.model.SearchResult" alias="SearchResult"/>
        <typeAlias type="com.sy.model.Specialist" alias="Specialist"/>
        <typeAlias type="com.sy.model.SysLogininfor" alias="SysLogininfor"/>
        <typeAlias type="com.sy.model.T8DocManage" alias="T8DocManage"/>
        <typeAlias type="com.sy.model.Upload" alias="Upload"/>
        <typeAlias type="com.sy.model.User" alias="User"/>
        <typeAlias type="com.sy.model.UserVO" alias="UserVO"/>
        <typeAlias type="com.sy.model.Video" alias="Video"/>
        
        <!-- game包类 -->
        <typeAlias type="com.sy.model.game.ActivityBoss" alias="ActivityBoss"/>
        <typeAlias type="com.sy.model.game.ActivityConfig" alias="ActivityConfig"/>
        <typeAlias type="com.sy.model.game.ActivityDetail" alias="ActivityDetail"/>
        <typeAlias type="com.sy.model.game.ActivityReward" alias="ActivityReward"/>
        <typeAlias type="com.sy.model.game.AppVersion" alias="AppVersion"/>
        <typeAlias type="com.sy.model.game.Battle" alias="Battle"/>
        <typeAlias type="com.sy.model.game.BattleLog" alias="BattleLog"/>
        <typeAlias type="com.sy.model.game.BattleManager" alias="BattleManager"/>
        <typeAlias type="com.sy.model.game.BronzeBossDetail" alias="BronzeBossDetail"/>
        <typeAlias type="com.sy.model.game.BronzeTower" alias="BronzeTower"/>
        <typeAlias type="com.sy.model.game.Buff" alias="Buff"/>
        <typeAlias type="com.sy.model.game.Camp" alias="Camp"/>
        <typeAlias type="com.sy.model.game.Card" alias="Card"/>
        <typeAlias type="com.sy.model.game.CardDto" alias="CardDto"/>
        <typeAlias type="com.sy.model.game.CeremonialGift" alias="CeremonialGift"/>
        <typeAlias type="com.sy.model.game.CeremonialGiftRecord" alias="CeremonialGiftRecord"/>
        <typeAlias type="com.sy.model.game.Character" alias="Character"/>
        <typeAlias type="com.sy.model.game.CharacterState" alias="CharacterState"/>
        <typeAlias type="com.sy.model.game.Characters" alias="Characters"/>
        <typeAlias type="com.sy.model.game.DailyView" alias="DailyView"/>
        <typeAlias type="com.sy.model.game.DailyViewContent" alias="DailyViewContent"/>
        <typeAlias type="com.sy.model.game.DailyViewFinsh" alias="DailyViewFinsh"/>
        <typeAlias type="com.sy.model.game.DailyViewRecord" alias="DailyViewRecord"/>
        <typeAlias type="com.sy.model.game.DamageType" alias="DamageType"/>
        <typeAlias type="com.sy.model.game.DifficultyLevel" alias="DifficultyLevel"/>
        <typeAlias type="com.sy.model.game.EffectInstance" alias="EffectInstance"/>
        <typeAlias type="com.sy.model.game.EffectType" alias="EffectType"/>
        <typeAlias type="com.sy.model.game.EqCard" alias="EqCard"/>
        <typeAlias type="com.sy.model.game.EqCardDto" alias="EqCardDto"/>
        <typeAlias type="com.sy.model.game.EqCharacters" alias="EqCharacters"/>
        <typeAlias type="com.sy.model.game.EqCharactersRecord" alias="EqCharactersRecord"/>
        <typeAlias type="com.sy.model.game.Fightter" alias="Fightter"/>
        <typeAlias type="com.sy.model.game.FriendBlessing" alias="FriendBlessing"/>
        <typeAlias type="com.sy.model.game.FriendInvitation" alias="FriendInvitation"/>
        <typeAlias type="com.sy.model.game.FriendRelation" alias="FriendRelation"/>
        <typeAlias type="com.sy.model.game.GameArenaBattle" alias="GameArenaBattle"/>
        <typeAlias type="com.sy.model.game.GameArenaBattlecharacters" alias="GameArenaBattlecharacters"/>
        <typeAlias type="com.sy.model.game.GameArenaRank" alias="GameArenaRank"/>
        <typeAlias type="com.sy.model.game.GameArenaSignup" alias="GameArenaSignup"/>
        <typeAlias type="com.sy.model.game.GameEqRecord" alias="GameEqRecord"/>
        <typeAlias type="com.sy.model.game.GameFight" alias="GameFight"/>
        <typeAlias type="com.sy.model.game.GameGift" alias="GameGift"/>
        <typeAlias type="com.sy.model.game.GameGiftContent" alias="GameGiftContent"/>
        <typeAlias type="com.sy.model.game.GameGiftExchangeCode" alias="GameGiftExchangeCode"/>
        <typeAlias type="com.sy.model.game.GameGiftRecord" alias="GameGiftRecord"/>
        <typeAlias type="com.sy.model.game.GameGiftRule" alias="GameGiftRule"/>
        <typeAlias type="com.sy.model.game.GameItemBase" alias="GameItemBase"/>
        <typeAlias type="com.sy.model.game.GameItemPlayShop" alias="GameItemPlayShop"/>
        <typeAlias type="com.sy.model.game.GameItemShop" alias="GameItemShop"/>
        <typeAlias type="com.sy.model.game.GameNotice" alias="GameNotice"/>
        <typeAlias type="com.sy.model.game.GamePlayerBag" alias="GamePlayerBag"/>
        <typeAlias type="com.sy.model.game.GamePlayerBagExt" alias="GamePlayerBagExt"/>
        <typeAlias type="com.sy.model.game.GameShopRecord" alias="GameShopRecord"/>
        <typeAlias type="com.sy.model.game.GameTimeRecord" alias="GameTimeRecord"/>
        <typeAlias type="com.sy.model.game.GiftContentVO" alias="GiftContentVO"/>
        <typeAlias type="com.sy.model.game.GiftListItemVO" alias="GiftListItemVO"/>
        <typeAlias type="com.sy.model.game.Guardian" alias="Guardian"/>
        <typeAlias type="com.sy.model.game.ImageLevelResult" alias="ImageLevelResult"/>
        <typeAlias type="com.sy.model.game.ItemPurchaseRecord" alias="ItemPurchaseRecord"/>
        <typeAlias type="com.sy.model.game.LevelUpResult" alias="LevelUpResult"/>
        <typeAlias type="com.sy.model.game.MewYearItemShop" alias="MewYearItemShop"/>
        <typeAlias type="com.sy.model.game.PillRobRecord" alias="PillRobRecord"/>
        <typeAlias type="com.sy.model.game.PlayerBackpack" alias="PlayerBackpack"/>
        <typeAlias type="com.sy.model.game.PlayerBronzeTower" alias="PlayerBronzeTower"/>
        <typeAlias type="com.sy.model.game.PlayerTaskProgress" alias="PlayerTaskProgress"/>
        <typeAlias type="com.sy.model.game.Profession" alias="Profession"/>
        <typeAlias type="com.sy.model.game.PveBossDetail" alias="PveBossDetail"/>
        <typeAlias type="com.sy.model.game.PveDetail" alias="PveDetail"/>
        <typeAlias type="com.sy.model.game.PveReward" alias="PveReward"/>
        <typeAlias type="com.sy.model.game.PveRewardRecord" alias="PveRewardRecord"/>
        <typeAlias type="com.sy.model.game.QqCardExp" alias="QqCardExp"/>
        <typeAlias type="com.sy.model.game.QqShenxianFlyup" alias="QqShenxianFlyup"/>
        <typeAlias type="com.sy.model.game.QqShenxianPlayerFlyup" alias="QqShenxianPlayerFlyup"/>
        <typeAlias type="com.sy.model.game.Race" alias="Race"/>
        <typeAlias type="com.sy.model.game.RevengeRecord" alias="RevengeRecord"/>
        <typeAlias type="com.sy.model.game.StarSynthesisMain" alias="StarSynthesisMain"/>
        <typeAlias type="com.sy.model.game.StarSynthesisMaterials" alias="StarSynthesisMaterials"/>
        <typeAlias type="com.sy.model.game.TargetBattleData" alias="TargetBattleData"/>
        <typeAlias type="com.sy.model.game.TokenDto" alias="TokenDto"/>
        <typeAlias type="com.sy.model.game.UserActivityRecords" alias="UserActivityRecords"/>
        <typeAlias type="com.sy.model.game.UserInfo" alias="UserInfo"/>
        
        <!-- resp包类 -->
        <typeAlias type="com.sy.model.resp.BaseListResp" alias="BaseListResp"/>
        <typeAlias type="com.sy.model.resp.BaseResp" alias="BaseResp"/>
        <typeAlias type="com.sy.model.resp.Page" alias="Page"/>
        <typeAlias type="com.sy.model.resp.ResultCode" alias="ResultCode"/>
        <typeAlias type="com.sy.model.resp.ResultVO" alias="ResultVO"/>
        
        <!-- weixin包类 -->
        <typeAlias type="com.sy.model.weixin.Article" alias="Article"/>
        <typeAlias type="com.sy.model.weixin.Button" alias="Button"/>
        <typeAlias type="com.sy.model.weixin.ClickButton" alias="ClickButton"/>
        <typeAlias type="com.sy.model.weixin.Image" alias="Image"/>
        <typeAlias type="com.sy.model.weixin.ImageMessage" alias="ImageMessage"/>
        <typeAlias type="com.sy.model.weixin.NewsMessage" alias="NewsMessage"/>
        <typeAlias type="com.sy.model.weixin.TextMessage" alias="TextMessage"/>
        <typeAlias type="com.sy.model.weixin.ViewButton" alias="ViewButton"/>
        <typeAlias type="com.sy.model.weixin.WeiXin" alias="WeiXin"/>
        <typeAlias type="com.sy.model.weixin.WeiXinUser" alias="WeiXinUser"/>
    </typeAliases>

    <!--配置MyBatis分页插件-->

    <!--
        定义分页插件
    -->
    <plugins>

        <!-- com.github.pagehelper为PageHelper类所在包名 -->
        <plugin interceptor="com.github.pagehelper.PageHelper">
            <!-- 4.0.0以后版本可以不设置该参数 -->
            <property name="dialect" value="mysql"/>
            <!-- 该参数默认为false -->
            <!-- 设置为true时，会将RowBounds第一个参数offset当成pageNum页码使用 -->
            <!-- 和startPage中的pageNum效果一样-->
            <property name="offsetAsPageNum" value="true"/>
            <!-- 该参数默认为false -->
            <!-- 设置为true时，使用RowBounds分页会进行count查询 -->
            <property name="rowBoundsWithCount" value="true"/>
            <!-- 设置为true时，如果pageSize=0或者RowBounds.limit = 0就会查询出全部的结果 -->
            <!-- （相当于没有执行分页查询，但是返回结果仍然是Page类型）-->
            <property name="pageSizeZero" value="true"/>
            <!-- 3.3.0版本可用 - 分页参数合理化，默认false禁用 -->
            <!-- 启用合理化时，如果pageNum<1会查询第一页，如果pageNum>pages会查询最后一页 -->
            <!-- 禁用合理化时，如果pageNum<1或pageNum>pages会返回空数据 -->
            <property name="reasonable" value="false"/>
            <!-- 3.5.0版本可用 - 为了支持startPage(Object params)方法 -->
            <!-- 增加了一个`params`参数来配置参数映射，用于从Map或ServletRequest中取值 -->
            <!-- 可以配置pageNum,pageSize,count,pageSizeZero,reasonable,orderBy,不配置映射的用默认值 -->
            <!-- 不理解该含义的前提下，不要随便复制该配置 -->
            <property name="params" value="pageNum=pageHelperStart;pageSize=pageHelperRows;"/>
            <!-- 支持通过Mapper接口参数来传递分页参数 -->
            <property name="supportMethodsArguments" value="false"/>
            <!-- always总是返回PageInfo类型,check检查返回类型是否为PageInfo,none返回Page -->
            <property name="returnPageInfo" value="none"/>
        </plugin>
    </plugins>
</configuration>