.add_affiche_modal-body .datepicker{width:120px;}
.add_affiche_modal-body .topul li{width:230px;float: left;}
.add_affiche_modal-body .topul{list-style: none;width:90%;}
.add_affiche_modal-body .downul{list-style: none;width:90%;}
