

* {
	padding: 0;
	margin: 0;
}

body {
	/*min-width:1100px;*/
	background-color: #F5F6F7!important;
}

html {
	overflow-y: scroll;
}



.title{
	cursor: pointer;
}

input[type=button],.img-right{
	cursor: pointer;
}

.Tmylist{
	z-index: 9999999999999;
}
header
{
	margin-top: -10px;
	/*overflow: hidden;*/
	/*width: 1200px;*/
}

/*导航*/

.TOP {
	margin-top: 2px;
	background-color: #E4E9EC;
	height: 40px;
}

.TOP-nav {

	width: 1200px;
	margin: 0 auto;
	display: flex;
}

.TOP-nav div {
	font-size: 14px;
	height: 40px;
	width: 56px;
	text-align: center;
	line-height: 40px;
	margin-right: 20px;
}

.TOP-nav div:nth-child(3) {
	width: 98px;
}


/*资源首页*/

.NAV {
	display: flex;
	width: 1200px;
	margin: 0 auto;
}

.NAV .NAV-mian-left {
	/*display: flex;*/
	margin-top: 10px;
}


/*资源3级菜单*/

.NAV .NAV-mian-left .classify {
	background-color: white;
	width: 892px;
}

.NAV .NAV-mian-left .classify .top,
.NAV .NAV-mian-left .classify .foolt {
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	display: flex;
	box-sizing: border-box;
	border-bottom: 1px #E6E6E6 dashed;
}

.NAV .NAV-mian-left .classify .top .top-lef,
.NAV .NAV-mian-left .classify .foolt .foolt-left,
.NAV .NAV-mian-left .classify .snsearch .search-left {
	/*width: 100px;*/
	font-size: 14px;
	color: #666;
	margin-right: 10px;
}

.NAV .NAV-mian-left .classify .top .top-lef {
	width: 120px!important;
}

.NAV .NAV-mian-left .classify .top .top-rig a,
.NAV .NAV-mian-left .classify .foolt .foolt-rig a {
	text-decoration: none;
	font-size: 14px;
	color: black;
	margin-right: 10px;
}


/*搜索*/

.NAV .NAV-mian-left .classify .snsearch {
	padding-left: 20px;
	display: flex;
	align-items: center;
	height: 50px;
	box-sizing: border-box;
	/*border-bottom: 1px #E6E6E6 dashed*/
}

.NAV .NAV-mian-left .classify .snsearch input {
	box-sizing: content-box;
}

.NAV .NAV-mian-left .classify .searchtext {
	background-color: #F7F8F9;
	width: 616px;
	height: 28px;
	border: 1px solid #eee;
	outline: none;
	display: block;
	padding: 0 20px;
}

.NAV .NAV-mian-left .classify .searchbtn {
	display: block;
	width: 88px;
	height: 29px;
	color: white;
	background: red;
	text-align: center;
	font-size: 14px;
	border: none;
	cursor: pointer;
	border-radius: 4px;
	margin-left: 20px;
}

.NAV .NAV-mian-left .ad {
	margin-top: 10px;
	width: 880px;
	height: 90px;
	background: url(../imgs/ad/blog/cd13.jpg);
}


/*资源类表*/

.NAV .NAV-mian-left .downloadlist {
	margin-top: 10px;
	background-color: white;
	width: 890px;
}

.NAV .NAV-mian-left .downloadlist .list,
.NAV-myresouces .NAV-myresouces-mian .main-lf .lists .list,
.NAV-Detail .NAV-myresouces-mian .main-lf .lists .list,
.NAV-Detail .NAV-myresouces-mian .main-lf .downloadlist .list {
	margin-top: 5px;
	border-bottom: 1px #E6E6E6 dashed;
	display: flex;
}

.NAV .NAV-mian-left .downloadlist .list .img-left,
.NAV-myresouces .NAV-myresouces-mian .main-lf .lists .list .img-left,
.NAV-Detail .NAV-myresouces-mian .main-lf .lists .list .img-left,
.NAV-Detail .NAV-myresouces-mian .main-lf .downloadlist .list .img-left {
	margin-top: 20px;
	width: 80px;
	margin-left: 20px;
}

.NAV .NAV-mian-left .downloadlist .list .context-model,
.NAV-myresouces .NAV-myresouces-mian .main-lf .lists .list .context-model,
.NAV-Detail .NAV-myresouces-mian .main-lf .lists .list .context-model,
.NAV-Detail .NAV-myresouces-mian .main-lf .downloadlist .list .context-model {
	width: 680px;
}

.NAV .NAV-mian-left .downloadlist .list .context-model .title,
.NAV-myresouces .NAV-myresouces-mian .main-lf .lists .list .context-model .title,
.NAV-Detail .NAV-myresouces-mian .main-lf .lists .list .context-model .title,
.NAV-Detail .NAV-myresouces-mian .main-lf .downloadlist .list .con .title {
	margin-top: 5px;
	color: #2e2e2e;
	font-size: 16px;
	font-weight: bold;
}

.NAV .NAV-mian-left .downloadlist .list .context-model .main,
.NAV-myresouces .NAV-myresouces-mian .main-lf .lists .list .context-model .main,
.NAV-Detail .NAV-myresouces-mian .main-lf .lists .list .context-model .main,
.NAV-Detail .NAV-myresouces-mian .main-lf .downloadlist .list .context-model .main {
	margin-top: 5px;
	font-size: 12px;
	color: #666;
}

.NAV .NAV-mian-left .downloadlist .list .context-model .size,
.NAV-myresouces .NAV-myresouces-mian .main-lf .lists .list .context-model .size,
.NAV-Detail .NAV-myresouces-mian .main-lf .lists .list.context-model .size,
.NAV-Detail .NAV-myresouces-mian .main-lf .downloadlist .list .context-model .size {
	margin-top: 5px;
	font-size: 14px;
	color: #999;
	margin-bottom: 5px;
}

.NAV .NAV-mian-left .downloadlist .list .img-right,
.NAV-myresouces .NAV-myresouces-mian .main-lf .lists .list .img-right,
.NAV-Detail .NAV-myresouces-mian .main-lf .lists .list .img-right,
.NAV-Detail .NAV-myresouces-mian .main-lf .downloadlist .list .img-right {
	margin-left: 5px;
	width: 120px;
	margin-top: 30px;
}


/*右边上传*/

.NAV .NAV-mian-right {
	/*display: flex;*/
	margin-top: 10px;
	margin-left: 5px;
}

.NAV .NAV-mian-right .upload,
.NAV .NAV-mian-right .recommend {
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	box-sizing: border-box;
	margin-top: 20px;
	width: 300px;
	background: white;
}

.NAV .NAV-mian-right .upload .top,
.NAV-Detail .NAV-myresouces-mian .main-rt .upload .top {
	display: flex;
}

.NAV .NAV-mian-right .upload .top .top-lef,
.NAV-Detail .NAV-myresouces-mian .main-rt .upload .top .top-lef {
	margin-right: 10px;
}

.NAV .NAV-mian-right .upload .top .top-rig .grade {
	width: 200px;
	display: flex;
	justify-content: space-between;
}

.NAV .NAV-mian-right .upload .foolt {
	margin-top: 20px;
}

.NAV .NAV-mian-right .upload .foolt input {
	display: block;
	width: 266px;
	height: 36px;
	color: white;
	background: red;
	text-align: center;
	font-size: 14px;
	border: none;
	cursor: pointer;
	border-radius: 4px;
}


/*精品推荐*/

.NAV .NAV-mian-right .recommend .list {
	margin-top: 10px;
}


/*微信公众号*/

.NAV .NAV-mian-right .weichat {
	margin-top: 10px;
}


/*我的资源模块*/

.NAV-myresouces {
	width: 1200px;
	margin: 0 auto;
}

.NAV-myresouces .top-user {
	background: white;
	height: 250px;
	margin-top: 10px;
}

.NAV-myresouces .top-user .top {
	display: flex;
}

.NAV-myresouces .top-user .top .top-lef,
.NAV-myresouces .top-user .top .top-model {
	margin-top: 20px;
	margin-left: 20px;
}

.NAV-myresouces .top-user .top .top-model .grade {
	margin-top: 15px;
	display: flex;
}

.NAV-myresouces .top-user .top .top-rig {
	margin-left: 500px;
	margin-top: 100px;
}

.NAV-myresouces .top-user .top .top-rig .memberbtn {
	display: block;
	width: 200px;
	height: 36px;
	color: white;
	background: red;
	text-align: center;
	font-size: 14px;
	border: none;
	cursor: pointer;
	border-radius: 4px;
	margin-left: 20px;
}

.NAV-myresouces .top-user .count {
	display: flex;
	margin-top: 20px;
	margin-left: 60px;
}

.NAV-myresouces .top-user .count .integral {
	margin-right: 40px;
	text-align: center;
}


/*积分模块*/

.NAV-myresouces .NAV-myresouces-mian .main-lf .myintegrals {
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	box-sizing: border-box;
	background-color: white;
}

.NAV-myresouces .NAV-myresouces-mian .main-lf .myintegrals .list,
.NAV-myresouces .NAV-myresouces-mian .main-lf .myintegrals .top {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
}


/*上传资源列表*/

.NAV-myresouces .NAV-myresouces-mian {
	margin-top: 20px;
	display: flex;
}

.NAV-myresouces .NAV-myresouces-mian .main-lf {
	width: 890px;
	background-color: white;
}

.NAV-myresouces .NAV-myresouces-mian .main-lf .nav {
	display: flex;
}

.NAV-myresouces .NAV-myresouces-mian .main-lf .nav div {
	margin-top: 10px;
	width: 78px;
	height: 24px;
	margin-left: 20px;
	text-align: center;
	line-height: 24px;
	border-radius: 10px;
	background-color: #EEF1F3;
}


/*上传资源右边*/

.NAV-myresouces .NAV-myresouces-mian .main-rt {
	width: 300px;
}

.NAV-myresouces .NAV-myresouces-mian .main-rt .uploadbtn {
	display: block;
	width: 290px;
	height: 36px;
	color: white;
	background: red;
	text-align: center;
	font-size: 14px;
	border: none;
	cursor: pointer;
	border-radius: 4px;
	margin-left: 20px;
}

.NAV-myresouces .NAV-myresouces-mian .main-rt .weichat {
	margin-left: 10px;
	margin-top: 10px;
}


/*详细页面*/

.NAV-Detail .NAV-myresouces-mian {
	margin-top: 20px;
	display: flex;
}

.NAV-Detail .NAV-myresouces-mian .main-lf {
	width: 890px;
	/*background-color: white;*/
}

.NAV-Detail .NAV-myresouces-mian .main-lf .lists {
	background-color: white;
}

.NAV-Detail .NAV-myresouces-mian .main-lf .nav {
	display: flex;
}

.NAV-Detail .NAV-myresouces-mian .main-lf .nav div {
	margin-top: 10px;
	width: 78px;
	height: 24px;
	margin-left: 20px;
	text-align: center;
	line-height: 24px;
	border-radius: 10px;
	background-color: #EEF1F3;
}


/*详细页面右边*/

.NAV-Detail {
	width: 1200px;
	margin: 0 auto;
}

.NAV-Detail .NAV-myresouces-mian .main-rt {
	width: 300px;
}

.NAV-Detail .NAV-myresouces-mian .main-rt .weichat {
	margin-left: 10px;
	margin-top: 10px;
}

.NAV-Detail .NAV-myresouces-mian .main-rt .upload .top {
	background-color: white;
	width: 300px;
	margin-left: 10px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	box-sizing: border-box;
	height: 80px;
}

.NAV-Detail .NAV-myresouces-mian .main-lf .downloadlist {
	margin-top: 20px;
	background-color: white;
}


/*资源页评论*/

.NAV-Detail .NAV-myresouces-mian .main-lf .replay .header {
	display: flex;
	justify-content: space-between;
}

.NAV-Detail .NAV-myresouces-mian .main-lf .replay {
	margin-top: 20px;
	background-color: white;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	box-sizing: border-box;
}

.NAV-Detail .NAV-myresouces-mian .main-lf .replay .replay-lists {
	margin-top: 20px;
}

.NAV-Detail .NAV-myresouces-mian .main-lf .replay .replay-lists .list {
	display: flex;
}

.NAV-Detail .NAV-myresouces-mian .main-lf .replay .replay-lists .list .name {
	width: 100px;
}

.NAV-Detail .NAV-myresouces-mian .main-lf .replay .replay-lists .list .context {
	width: 400px;
}

.NAV-Detail .NAV-myresouces-mian .main-lf .replay .myreplay {
	margin-top: 20px;
}

.NAV-Detail .NAV-myresouces-mian .main-lf .replay .myreplay .top {
	display: flex;
}

.NAV-Detail .NAV-myresouces-mian .main-lf .replay .myreplay .context {
	display: flex;
	margin-left: 40px;
}

.NAV-Detail .NAV-myresouces-mian .main-lf .replay .myreplay .context textarea {
	width: 700px;
	height: 60px;
}

.NAV-Detail .NAV-myresouces-mian .main-lf .replay .myreplay .context input[type=button] {
	width: 100px;
	height: 60px;
	margin-left: 10px;
	background-color: red;
	color: white;
	border: none;
	border-radius: 5px;
}


/*上传*/
/*.NAV-upload{*/
	/*height: 700px;*/
/*}*/
.NAV-upload .main {
	text-align: center;
	width: 1200px;
	margin: 20px auto;
	background-color: white;
	height: 600px;
	padding-top: 40px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	box-sizing: border-box;
}
.NAV-upload .main .layui-form-label{
	width: 100px;
}

/*底部*/

.flooter {
	margin: 20px auto;
	text-align: center;
}

/*论坛模块*/
