#viewreplylist,#replylist{list-style: none;color:blue;}
.messagecontentdiv .messagecontentlabel{width:80px;padding-left:5px;}
.messagecontentdiv p{padding:5px;border-bottom:1px solid #ccc;}
.messagecontentdiv textarea{margin-left:6px;width:465px;}
#viewreplylist li,#replylist li{padding:5px;}