<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sy.mapper.BlogReplayMapper">
    <update id="addReplay">
        INSERT INTO `csdn`.`blog_replay` ( `blog_id`, `comment`, `commentuserid`, `time`, `status`,  `replay_userid` ) VALUES
         ( #{blogid}, #{comment}, #{commentuserid}, NOW(), #{status}, #{replayUserId});
            </update>
    <select id="queryByBlogId" resultType="com.sy.model.BlogReplay">
        select * from blog_replay where blog_id = #{blog_id} and blog_replay_id=0 order by time desc
    </select>

    <!--已回复-->

    <update id="removecommentreq" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update blog_replay set status=0 where blog_id=#{item}
        </foreach>
    </update>

    <update id="readcommentreq" parameterType="java.lang.Integer">
            update blog_replay set status=3  where  replay_userid=#{userId} and commentuserid!=#{userId} and status=1
    </update>
    <update id="onclickcommentreq" parameterType="java.lang.Integer">
            update blog_replay set status=3 where id=#{blog_id}
    </update>

    <!--查询博客回复数-->
    <select id="queryReplayCountByBlogId" resultType="java.lang.Integer">

        select count(*)  from blog_replay  where blog_id =#{blog_id}

    </select>

    <!--查询单条回复-->
    <select id="queryByBlogReplayId" resultType="com.sy.model.BlogReplay">
        select * from blog_replay where id = #{id}
    </select>

    <!--回复数量加1-->
    <update id="updateCount" parameterType="java.lang.Integer">
            update blog_replay set son_replay_count=son_replay_count+1 where id=#{id}
    </update>

    <!--根据恢复对象查回复-->
    <select id="queryreplayByUserId" resultType="com.sy.model.BlogReplay">
          select blog_replay_id as blogReplayId,id,blog_id ,status ,commentuserid ,comment ,replay_userid,time  from blog_replay where  replay_userid=#{userId} and commentuserid!=#{userId}  order by time desc
    </select>


    <!--评论的评论-->
    <update id="insert">
        INSERT INTO `csdn`.`blog_replay` ( `blog_replay_id`, `comment`, `commentuserid`, `time`, `replay_userid`,`blog_id`,status)
        VALUES ( #{blogReplayId}, #{comment}, #{commentuserid}, now(), #{replayUserId},#{blogid},#{status});
    </update>
    <select id="queryBlogReplaySonByReplayId" resultType="com.sy.model.BlogReplay">
       select blog_replay_id as blogReplayId, comment, commentuserid,time,status,replay_userid as replayUserId
         from blog_replay where blog_replay_id=#{blogReplayId}
   </select>
    <!--查询评论的评论对象id-->
    <select id="queryUserIdById" resultType="java.lang.Integer">
select commentuserid from blog_replay where id =#{id}
    </select>
</mapper>

