<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sy.mapper.CollectMapper">

    <select id="queryByUserId" resultType="com.sy.model.Collect">
        select * from collect where userid = #{userid}
    </select>
    <update id="add">
        INSERT INTO `csdn`.`collect` (`name`, `userid`) VALUES (#{name},#{userid} );
    </update>

    <!--根据收藏夹ID统计收藏夹内的数据数量-->
    <select id="dataCountByCollectId" resultType="java.lang.Integer">
        select count(*) from collectitems where collectid = #{collectID}
    </select>
    <!--根据收藏夹ID统计收藏夹被关注的总人数-->
    <select id="invCountByCollectId" resultType="java.lang.Integer">
        select count(*) from fa_att where collectid = #{collectID}
    </select>
    <!--根据用户Id查询所有关注的收藏夹-->
    <select id="selectAllFa_attByUserid" resultType="com.sy.model.Fa_att">
        select * from fa_att where userId = #{userId}
    </select>
    <!--根据收藏夹ID查找收藏夹-->
    <select id="selectCollectByID" resultType="com.sy.model.Collect">
        select * from collect where id = #{collectId}
    </select>
    <!--根据收藏夹ID 获取收藏夹内包含的明细-->
    <select id="selectAllCollectitemsByCollectId" resultType="com.sy.model.Collectitems">
        select * from collectitems where collectid = #{collectId} ORDER BY createTime DESC
    </select>
    <!--根据ID获取问答-->
    <select id="selectAskByCollectId" resultType="com.sy.model.Ask">
        select * from ask where askId = #{askId}
    </select>
    <!--根据ID获取博客-->
    <select id="selectBlogByCollectId" resultType="com.sy.model.Blog">
        select * from blog where id = #{blogId}
    </select>
    <!--根据ID获取论坛-->
    <select id="selectForumByCollectId" resultType="com.sy.model.Forum">
        select * from forum where forumId = #{forumId}
    </select>
    <!--根据用户ID和收藏夹ID删除关注记录-->
    <delete id="deleteFaAttByUseridAndCollectId" >
       DELETE from fa_att where userId=#{userId} and collectID=#{collectId}
    </delete>
    <!--根据收藏夹ID和收藏博客或问答或论坛Id去除收藏记录-->
    <delete id="deleteCollectitemsByCollectIdAndBidOrAidOrFid" parameterType="com.sy.model.Collectitems">
       DELETE from collectitems where collectid=#{collectid}
        <if test="blogid !=null">
            and blogid = #{blogid}
        </if>
        <if test="askID !=null ">
            and askID = #{askID}
        </if>
        <if test="forumID != null ">
            and forumID = #{forumID}
        </if>
    </delete>
    <!--根据收藏夹ID删除收藏夹关注记录-->
    <delete id="delectFaAttByCollectId" >
       DELETE from fa_att where  collectID=#{collectId}
    </delete>
    <!--根据收藏夹ID删除收藏夹收藏明细-->
    <delete id="delectCollectitemsByCollectId" >
       DELETE from collectitems where  collectid=#{collectId}
    </delete>
    <!--根据收藏夹ID删除收藏夹-->
    <delete id="delectCollectByCollectId" >
       DELETE from collect where  id=#{collectId}
    </delete>
    <!--新增收藏夹-->
    <insert id="insertCollect" parameterType="com.sy.model.Collect" >
       insert into
       <if test="collectDescribe != null">
           collect(name,userid,collectDescribe) values (#{name},#{userid},#{collectDescribe})
       </if>
        <if test="collectDescribe == null">
            collect(name,userid) values (#{name},#{userid})
        </if>
    </insert>
    <!--根据用户Id获取收藏夹名-->
    <select id="selectCollectNameByUserid" resultType="java.lang.String">
        select name from collect where userid=#{userid}
    </select>
    <!--修改收藏夹-->
    <update id="updateCollect" parameterType="com.sy.model.Collect">
        update collect set name=#{name} ,collectDescribe=#{collectDescribe} where id=#{id}
    </update>
    <!--根据用户Id获取所有收藏夹-->
    <select id="selectAllCollectByuserId" parameterType="com.sy.model.Collect" resultType="com.sy.model.Collect">
        select * from collect where userid=#{userid}
    </select>
    <!--根据用户ID和收藏夹ID判断该收藏夹是否是该用户的-->
    <select id="selectCollectByCollectidAndUserId"  resultType="java.lang.Integer">
        select count(*) from collect where userid=#{userId} and id=#{collectId}
    </select>
    <!--根据收藏者ID和收藏夹ID判断用户是否收藏过该收藏夹-->
    <select id="selectFaAttByUseridAndCollectId"  resultType="java.lang.Integer">
        select count(*) from fa_att where userId=#{userId} and collectID=#{collectId}
    </select>
    <!--收藏收藏夹-->
    <insert id="insertNewFaAtt"  >
        insert into fa_att(favoriteId,userId,collectID) values (#{favoriteId},#{userId},#{collectId})
    </insert>

</mapper>