<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sy.mapper.game.EqCharactersMapper">
    <select id="listById" resultType="com.sy.model.game.EqCharacters">
    select
    cs.uuid,
    cs.user_id,
    cs.id,
    cs.lv,
    cd.star,
    cs.stack_count,
    cs.go_into_num,
    cs.exp,
    cs.max_lv,
    cd.name,
    cd.camp,
    cd.introduce,
    cd.eq_type,
    cd.eq_type2,
    cd.wl_atk,
    cd.hy_atk,
    cd.ds_atk,
    cd.fd_atk,
    cd.wl_def,
    cd.hy_def,
    cd.ds_def,
    cd.fd_def,
    cd.zl_def,
    cd.profession,
    cd.passive_introduce_one,
    cd.passive_introduce_two,
    cs.is_delete,
    cd.passive_introduce_three
    from   eq_characters cs
    left  join eq_card cd on cd.id=cs.id
    where cs.user_id = #{userId} and   cs.id = #{id} and cs.is_delete='0' limit 1
  </select>
    <select id="listByGoOn" resultType="com.sy.model.game.EqCharacters">
    select
    cs.uuid,
    cs.user_id,
    cs.id,
    cs.lv,
    cd.star,
    cs.stack_count,
    cs.go_into_num,
    cs.exp,
    cs.max_lv,
    cd.name,
    cd.camp,
    cd.introduce,
    cd.eq_type,
    cd.eq_type2,
    cd.wl_atk,
    cd.hy_atk,
    cd.ds_atk,
    cd.fd_atk,
    cd.wl_def,
    cd.hy_def,
    cd.ds_def,
    cd.fd_def,
    cd.zl_def,
    cd.profession,
    cd.passive_introduce_one,
    cd.passive_introduce_two,
    cs.is_delete,
    cd.passive_introduce_three
    from   eq_characters cs
    left  join eq_card cd on cd.id=cs.id
    where cs.user_id = #{userId} and   cs.go_into_num = #{id} and cs.is_delete='0' limit 1
  </select>
    <select id="selectByUserId" parameterType="com.sy.model.game.EqCharacters"
            resultType="com.sy.model.game.EqCharacters">
    select
    cs.uuid,
    cs.user_id,
    cs.id,
    cs.lv,
    cd.star,
    cs.stack_count,
    cs.go_into_num,
    cs.exp,
    cs.max_lv,
    cd.name,
    cd.camp,
    cd.introduce,
    cd.eq_type,
    cd.eq_type2,
    cd.wl_atk,
    cd.hy_atk,
    cd.ds_atk,
    cd.fd_atk,
    cd.wl_def,
    cd.hy_def,
    cd.ds_def,
    cd.fd_def,
    cd.zl_def,
    cd.profession,
    cd.passive_introduce_one,
    cd.passive_introduce_two,
    cs.is_delete,
    cd.passive_introduce_three
    from   eq_characters cs
    left  join eq_card cd on cd.id=cs.id
    where cs.user_id = #{userId} and cs.is_delete='0'
  </select>

    <update id="changeEqState">
        UPDATE `eq_characters` SET   `go_into_num`='0'
        where user_id = #{userId} and   id = #{id}
    </update>

    <update id="changeEqState2">
        UPDATE `eq_characters` SET   `go_into_num`=#{itemId}
        where user_id = #{userId} and   id = #{id}
    </update>


    <update id="updateByPrimaryKey" parameterType="com.sy.model.game.EqCharacters">
    update  eq_characters
    set user_id = #{userId,jdbcType=INTEGER},
      id = #{id,jdbcType=VARCHAR},
      lv = #{lv,jdbcType=INTEGER},
      stack_count = #{stackCount,jdbcType=INTEGER},
      go_into_num = #{goIntoNum,jdbcType=INTEGER},
      exp = #{exp,jdbcType=INTEGER},
      is_delete = #{isDelete},
      update_time= now()
    where uuid = #{uuid,jdbcType=INTEGER}
  </update>
</mapper>