<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sy.mapper.ForumMapper">
    <select id="queryById" resultType="com.sy.model.Invitation">
       select * from invitation where id= #{invocationId}
   </select>
    <select id="queryInvitationReplayId" resultType="com.sy.model.Invitation_Replay">
       select * from invitationreply where invitation_id= #{invocationId}
   </select>
    <insert id="addReplay">
        INSERT INTO `csdn`.`invitationreply` (`Invitation_id`, `comment`, `commentuserid`, `time`) VALUES (#{Invitation_id},#{comment},#{commentuserid},#{time});
    </insert>
    <select id="queryallInvitationByUserId" resultType="com.sy.model.Invitation">
        select * from invitation where userid=#{userId} order by createtime desc
    </select>
    <select id="queryReplayCount" resultType="java.lang.Integer">
        select COUNT(*) from invitationreply where invitation_id= #{invocationId}
    </select>




</mapper>