<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sy.mapper.game.GameItemShopMapper">
    <resultMap id="BaseResultMap" type="com.sy.model.game.GameItemShop">
        <constructor>
            <arg column="item_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="item_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="quality" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="gold_edge_price" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="gem_price" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="stock" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        </constructor>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.sy.model.game.GameItemShop">
        <constructor>
            <arg column="item_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="item_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="quality" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="gold_edge_price" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="gem_price" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="stock" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="item_desc" javaType="java.lang.String" jdbcType="LONGVARCHAR"/>
        </constructor>
    </resultMap>
    <sql id="Blob_Column_List">
    item_desc
  </sql>
    <insert id="insert" parameterType="com.sy.model.game.GameItemShop">
    insert into game_item_shop (item_id, item_name, quality, 
      gold_edge_price, gem_price, stock, 
      item_desc)
    values (#{itemId,jdbcType=INTEGER}, #{itemName,jdbcType=VARCHAR}, #{quality,jdbcType=VARCHAR}, 
      #{goldEdgePrice,jdbcType=INTEGER}, #{gemPrice,jdbcType=INTEGER}, #{stock,jdbcType=INTEGER}, 
      #{itemDesc,jdbcType=LONGVARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.sy.model.game.GameItemShop">
        insert into game_item_shop
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="itemId != null">
                item_id,
            </if>
            <if test="itemName != null">
                item_name,
            </if>
            <if test="quality != null">
                quality,
            </if>
            <if test="goldEdgePrice != null">
                gold_edge_price,
            </if>
            <if test="gemPrice != null">
                gem_price,
            </if>
            <if test="stock != null">
                stock,
            </if>
            <if test="itemDesc != null">
                item_desc,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="itemId != null">
                #{itemId,jdbcType=INTEGER},
            </if>
            <if test="itemName != null">
                #{itemName,jdbcType=VARCHAR},
            </if>
            <if test="quality != null">
                #{quality,jdbcType=VARCHAR},
            </if>
            <if test="goldEdgePrice != null">
                #{goldEdgePrice,jdbcType=INTEGER},
            </if>
            <if test="gemPrice != null">
                #{gemPrice,jdbcType=INTEGER},
            </if>
            <if test="stock != null">
                #{stock,jdbcType=INTEGER},
            </if>
            <if test="itemDesc != null">
                #{itemDesc,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <select id="selectAll" resultType="com.sy.model.game.GameItemShop">
    select * from game_item_shop
  </select>
    <select id="selectByItemId" resultType="com.sy.model.game.GameItemShop">
    select * from game_item_shop where item_id=  #{itemId}
  </select>
</mapper>