<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sy.mapper.game.GameNoticeMapper">
    <select id="getAllNotice" resultType="java.lang.String">
        SELECT description FROM game_notice
        WHERE create_time >= DATE_SUB(NOW(), INTERVAL 3 HOUR);
    </select>
</mapper>