<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sy.mapper.InformationMapper">
    <insert id="insert" parameterType="com.sy.model.Information">
        INSERT INTO information ( `blog_id`, `time`,`replay_userid`, `content`,user_id) VALUES
        ( #{blogId}, NOW(),#{replayUserId}, #{content},#{userId});
    </insert>
    <select id="select" resultType="com.sy.model.Information">
        select  id,blog_id as blogId,time,status,replay_userid as replayUserId,content,user_id as  userId
        from information where user_id=#{userId} and status !=0;
    </select>

    <select id="selectpage" resultType="com.sy.model.Information">
        select  id,blog_id as blogId,time,status,replay_userid as replayUserId,content,user_id as  userId
        from information where user_id=#{userId} and status !=0 limit #{page},#{pageSize}
    </select>
    <select id="selectcount" resultType="java.lang.Integer">
        select  count(1)
        from information where user_id=#{userId} and status !=0;
    </select>

    <update id="removecommentreq" parameterType="java.lang.Integer">
            update information set status=0 where user_id=#{userId}
    </update>

    <update id="readcommentreq" parameterType="java.lang.Integer">
            update information set status=3  where user_id=#{userId} and status=1
    </update>
    <update id="onclickcommentreq" parameterType="java.lang.Integer">
            update information set status=3 where id=#{id} and user_id=#{userId}
    </update>

    <select id="selectStatus" resultType="java.lang.Integer">
        select  status
        from information where id=#{id}
    </select>
</mapper>
