<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sy.mapper.MusicMapper">
  <resultMap id="BaseResultMap" type="com.sy.model.Music">
      <result property="name" column="name" />
      <result property="url" column="url"  />
      <result property="artist" column="artist"  />
      <result property="cover" column="cover"  />
      <result property="lrc" column="lrc" />
      <result property="userid" column="userid" />
  </resultMap>
  <insert id="insert" parameterType="com.sy.model.Music">
    insert into music (name, url, artist,
      cover, lrc,userid)
    values (#{name,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{artist,jdbcType=VARCHAR},
      #{cover,jdbcType=VARCHAR}, #{lrc,jdbcType=VARCHAR},#{userid})
  </insert>
  <insert id="insertSelective" parameterType="com.sy.model.Music">
    insert into music
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="artist != null">
        artist,
      </if>
      <if test="cover != null">
        cover,
      </if>
      <if test="lrc != null">
        lrc,
      </if>
      <if test="userid != null">
        userid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="artist != null">
        #{artist,jdbcType=VARCHAR},
      </if>
      <if test="cover != null">
        #{cover,jdbcType=VARCHAR},
      </if>
      <if test="lrc != null">
        #{lrc,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid},
      </if>
    </trim>
  </insert>
  <select id="findall" resultMap="BaseResultMap">
    select *from music
  </select>

  <select id="selectByPams" parameterType="com.sy.model.Music" resultMap="BaseResultMap">
    select * from music
    <trim prefix="where" prefixOverrides="and | or">
      <if test="name != null and name!=''">
       and name like  concat('%',${name},'%')
      </if>
      <if test="url != null and url != ''">
        and url= #{url,jdbcType=VARCHAR}
      </if>
      <if test="artist != null and artist != ''">
        and artist= #{artist,jdbcType=VARCHAR}
      </if>
      <if test="cover != null and cover != ''">
        and cover=  #{cover,jdbcType=VARCHAR}
      </if>
      <if test="lrc != null and lrc != ''">
        and lrc=  #{lrc,jdbcType=VARCHAR}
      </if>
      <if test="userid != null">
        and userid=  #{userid}
      </if>
    </trim>
  </select>
</mapper>
