<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sy.mapper.game.PveDetailMapper">
  <resultMap id="BaseResultMap" type="com.sy.model.game.PveDetail">
    <constructor>
      <arg column="id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="title_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="jie_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="guan_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="introduce" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.sy.model.game.PveDetail">
    insert into pve_detail (id, title_name, jie_name, 
      guan_name, introduce)
    values (#{id,jdbcType=VARCHAR}, #{titleName,jdbcType=VARCHAR}, #{jieName,jdbcType=VARCHAR}, 
      #{guanName,jdbcType=VARCHAR}, #{introduce,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sy.model.game.PveDetail">
    insert into pve_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="titleName != null">
        title_name,
      </if>
      <if test="jieName != null">
        jie_name,
      </if>
      <if test="guanName != null">
        guan_name,
      </if>
      <if test="introduce != null">
        introduce,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="titleName != null">
        #{titleName,jdbcType=VARCHAR},
      </if>
      <if test="jieName != null">
        #{jieName,jdbcType=VARCHAR},
      </if>
      <if test="guanName != null">
        #{guanName,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null">
        #{introduce,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="selectById" resultType="com.sy.model.game.PveDetail">
    SELECT * FROM pve_detail
    where id=#{id}
  </select>
</mapper>