<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sy.mapper.UserMapper">
    <!--查询所有用户-->
    <select id="SelectAllUser" resultType="com.sy.model.User">
       select * from user
   </select>
    <!--新增所有列-->
    <insert id="insertUser" keyProperty="userid" useGeneratedKeys="true">
        insert into yimem.user(username, userpassword, sex, nickname, birthday, provinces, city, county, description,
                               industry, job, askSuminter, headImg, blogCount, attentionCount, fansCount, resourceCount,
                               forumCount, askCount, collectCount, downloadmoney, commentCount, likeCount, level,
                               visitorCount, ranking, downCount, askmoney, unreadreplaycount, readquerylikecount,
                               unreadfanscount, openid, isEmil,status)
        values (#{username}, #{userpassword}, #{sex}, #{nickname}, #{birthday}, #{provinces}, #{city}, #{county},
                #{description}, #{industry}, #{job}, #{askSuminter}, #{headImg}, #{blogCount}, #{attentionCount},
                #{fansCount}, #{resourceCount}, #{forumCount}, #{askCount}, #{collectCount}, #{downloadmoney},
                #{commentCount}, #{likeCount}, #{level}, #{visitorCount}, #{ranking}, #{downCount}, #{askmoney},
                #{unreadreplaycount}, #{readquerylikecount}, #{unreadfanscount}, #{openid}, #{isEmil},#{status})
    </insert>
    <!--修改用户头像-->
    <insert id="updateUserHeadImgByID">
       update user set headImg=#{headImg} where userId=#{userId}
    </insert>
    <!--修改用户信息-->
    <insert id="updateUserInfor" parameterType="com.sy.model.User">
       update user set sex=#{sex},nickname=#{nickname},birthday=#{birthday},provinces=#{provinces},city=#{city},county=#{county},description=#{description},industry=#{industry},job=#{job} where userId=#{userId}
    </insert>
    <!--根据用户ID获取用户信息-->
    <select id="selectUserByUserId" resultType="com.sy.model.User">
        select * from user where  userId=#{userId}
    </select>
    <!--&lt;!&ndash;根据用户ID查询所关注的总人数&ndash;&gt;-->
    <!--<select id="selectAttentionCountbyUserId" resultType="java.lang.Integer">-->
    <!--select count(*) from attention where  passivityPeId=#{userId}-->
    <!--</select>-->
    <!--根据用户ID查询粉丝的总人数-->
    <select id="selectUserByusername" resultType="com.sy.model.User">
        select * from user where  username=#{username}
    </select>

    <select id="selectFansCountbyUserId" resultType="java.lang.Integer">
        select count(*) from fans where  fansedid=#{userId}
    </select>

    <select id="selectFansUnRreadCountbyUserId" resultType="java.lang.Integer">
        select count(*) from fans where  fansedid=#{userId} and status= 1
    </select>
    <!--根据用户ID查询博客的数量-->
    <select id="selectBlogCountbyUserId" resultType="java.lang.Integer">
        select count(*) from blog  where  userid=#{userId}
    </select>
    <!--根据用户ID查询资源的数量-->
    <select id="selectResourceCountbyUserId" resultType="java.lang.Integer">
        select count(*) from download  where  userid=#{userId}
    </select>
    <!--&lt;!&ndash;根据用户ID查询论坛的数量&ndash;&gt;-->
    <!--<select id="selectForumCountbyUserId" resultType="java.lang.Integer">-->
    <!--select count(*) from download  where  userid=#{userId}-->
    <!--</select>-->
    <!--根据用户ID查询问答的数量-->
    <select id="selectAskCountbyUserId" resultType="java.lang.Integer">
        select count(*) from ask  where  userId=#{userId}
    </select>
    <!--根据用户ID查询自己收藏夹的数量-->
    <select id="selectCollectCountbyUserId" resultType="java.lang.Integer">
        select count(*) from collect  where  userid=#{userId}
    </select>
    <!--根据用户ID查询关注的收藏夹的数量-->
    <select id="selectAttentionCollectCountbyUserId" resultType="java.lang.Integer">
        select count(*) from fa_att  where  userId=#{userId}
    </select>
    <!--根据用户ID扣除积分-->
    <update id="updateAskMoneyByUserID">
        update user set askmoney=askmoney-#{askMoney} where userId=#{userID}
    </update>
    <!--根据userId查询粉丝-->
    <select id="selectAllFansByUserid" resultType="com.sy.model.Fans">
       select * from fans where fansedid=#{userId}
    </select>
    <!--根据userId查询关注的人-->
    <select id="selectAllreFansByUserId" resultType="com.sy.model.Fans">
       select * from fans where fansid=#{userId}
    </select>
    <!--根据关注者ID和被关注者ID查看是否有关注记录-->
    <select id="selectFansByFansedidAndFansid" resultType="java.lang.Integer">
       select count(*) from fans where fansedid=#{fansedid} and fansid=#{fansid}
    </select>
    <!--根据关注者ID和被关注者ID查看是否有关注记录-->
    <select id="selectAllBlogByUserid" resultType="com.sy.model.Blog">
       select * from blog where userid=#{userID}
    </select>
    <!--根据用户ID获取所有资源-->
    <select id="selectAllUploadByUserid" resultType="com.sy.model.Upload">
       select * from upload where userid=#{userID}
    </select>
    <!--根据用户ID获取所有论坛-->
    <select id="selectAllForumByUserid" resultType="com.sy.model.Forum">
       select * from forum where userId=#{userID}
    </select>
    <!--根据用户ID获取所有问答-->
    <select id="selectAllAskByUserid" resultType="com.sy.model.Ask">
       select * from ask where userId=#{userID}
    </select>
    <!--根据用户ID查询用户问答积分-->
    <select id="selectAskmoneybyUserID" resultType="java.lang.Double">
       select askmoney from user where userId=#{userId}
    </select>
    <!--修改用户-->
    <update id="updateuser" parameterType="com.sy.model.User">
        update user
        <set>
            <if test="username!=null  and username!=''">
                username=#{username},
            </if>
            <if test="userpassword!=null  and userpassword!=''">
                userpassword=#{userpassword},
            </if>
            <if test="unreadreplaycount!=null ">
                unreadreplaycount=#{unreadreplaycount},
            </if>
            <if test="readquerylikecount!=null ">
                readquerylikecount=#{readquerylikecount},
            </if>
            <if test="unreadfanscount!=null ">
                unreadfanscount=#{unreadfanscount},
            </if>
            <if test="blogCount!=null ">
                blogCount=#{blogCount},
            </if>
            <if test="attentionCount!=null ">
                attentionCount=#{attentionCount},
            </if>
            <if test="fansCount!=null ">
                fansCount=#{fansCount},
            </if>
            <if test="resourceCount!=null ">
                resourceCount=#{resourceCount},
            </if>
            <if test="forumCount!=null ">
                forumCount=#{forumCount},
            </if>
            <if test="askCount!=null ">
                askCount=#{askCount},
            </if>
            <if test="collectCount!=null ">
                collectCount=#{collectCount},
            </if>
            <if test="likeCount!=null ">
                likeCount=#{likeCount},
            </if>
            <if test="visitorCount!=null ">
                visitorCount=#{visitorCount},
            </if>
            <if test="commentCount!=null ">
                commentCount=#{commentCount},
            </if>
            <if test="isEmil!=null ">
                isEmil=#{isEmil},
            </if>
            <if test="openid!=null ">
                openid=#{openid},
            </if>
            <if test="diamond!=null ">
                diamond=#{diamond},
            </if>
        </set>
        where userId=#{userId}
    </update>


    <!--下方陈-->
    <!--修改用户积分-->
    <insert id="updateUserMoney">
        UPDATE user set downloadmoney=#{downloadmoney} WHERE userId=#{userId}
    </insert>

    <!--//更新用户资源量-->
    <!--Integer updatedownCount(@Param("downCount") Integer downCount, @Param("userId") Integer userId);-->
    <insert id="updatedownCount">
        UPDATE user set downCount=#{downCount} WHERE userId=#{userId}
    </insert>
    <!--//    更新用户上传量-->
    <!--Integer resourceCount(@Param("resourceCount") Integer resourceCount, @Param("userId") Integer userId);-->
    <insert id="resourceCount">
        UPDATE user set resourceCount=#{resourceCount} WHERE userId=#{userId}
    </insert>


    <!--已回复-->
    <insert id="readcommentreq">
       update user set unreadreplaycount=0 where userId=#{userId}
    </insert>
    <!--已回复-->
    <insert id="readqueryLikeId">
       update user set readquerylikecount=0 where userId=#{userId}
    </insert>
    <!--已回复-->
    <insert id="removefansaa">
       update user set unreadfanscount=0 where userId=#{userId}
    </insert>


    <!-- 分页 按条件搜索 -->
    <select id="getUserList" resultType="com.sy.model.User" parameterType="com.sy.model.User">
        select * from user
        <trim prefix="where" prefixOverrides="and | or">

            <if test="username != null">
                and username like #{username}
            </if>
            <if test="roleId != null">
                and roleId = #{roleId}
            </if>
            <if test="isStart != null">
                and isStart = #{isStart}
            </if>
            <if test="referCode != null">
                and referCode like #{referCode}
            </if>
            <if test="referId != null">
                and referId = #{referId}
            </if>
            <if test="userType != null">
                and userType = #{userType}
            </if>
        </trim>
        order by createTime desc
    </select>

    <!--分页:按条件查询用户记录数-->
    <select id="count" resultType="int" parameterType="com.sy.model.User">
        select count(1) from user
        <trim prefix="where" prefixOverrides="and | or">

            <if test="username != null">
                and username like CONCAT('%',#{username},'%')
            </if>
            <if test="roleId != null">
                and roleId = #{roleId}
            </if>
            <if test="isStart != null">
                and isStart = #{isStart}
            </if>
            <if test="referCode != null">
                and referCode like CONCAT('%',#{referCode},'%')
            </if>
            <if test="referId != null">
                and referId = #{referId}
            </if>
            <if test="userType != null">
                and userType = #{userType}
            </if>
        </trim>
    </select>


    <!-- 根据用户名和密码查询合法用户 -->
    <select id="getLoginUser" resultType="com.sy.model.User" parameterType="com.sy.model.User">
		select * from user where username = #{username} and userpassword = #{userpassword}
    </select>


    <!-- 根据用户名查询用户 -->
    <select id="getUserByLoginCode" resultType="com.sy.model.User" parameterType="com.sy.model.User">
		select * from user where username = #{username}
    </select>

    <!-- 根据主键查询用户 -->
    <select id="getUserById" resultType="com.sy.model.User" parameterType="com.sy.model.User">
		select * from user where userId = #{userId}
    </select>



    <!-- 根据Id删除用户 -->
    <delete id="deleteUser" parameterType="com.sy.model.User">
		delete from user where userId = #{userId}
	</delete>

    <!-- 根据Id删除用户 -->
    <delete id="deleteUserByopenId" parameterType="java.lang.String">
		delete from user where openid = #{openid}
	</delete>


    <!-- 修改用户 -->
    <update id="modifyUser" parameterType="com.sy.model.User">
        update user
        <set>
            <if test="username != null">username = #{username},</if>
            <if test="userpassword != null">userpassword = #{userpassword},</if>
            <if test="userpassword2 != null">userpassword2 = #{userpassword2},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="birthday != null">birthday = #{birthday},</if>
            <if test="cardType != null">cardType = #{cardType},</if>
            <if test="cardTypeName != null">cardTypeName = #{cardTypeName},</if>
            <if test="idCard != null">idCard = #{idCard},</if>
            <if test="country != null">country = #{country},</if>
            <if test="mobile != null">mobile = #{mobile},</if>
            <if test="email != null">email = #{email},</if>
            <if test="userAddress != null">userAddress = #{userAddress},</if>
            <if test="postCode != null">postCode = #{postCode},</if>
            <if test="createTime != null">createTime = #{createTime},</if>
            <if test="referId != null">referId = #{referId},</if>
            <if test="referCode != null">referCode = #{referCode},</if>
            <if test="roleId != null">roleId = #{roleId},</if>
            <if test="roleName != null">roleName = #{roleName},</if>
            <if test="userType != null">userType = #{userType},</if>
            <if test="userTypeName != null">userTypeName = #{userTypeName},</if>
            <if test="isStart != null">isStart = #{isStart},</if>
            <if test="lastUpdateTime != null">lastUpdateTime = #{lastUpdateTime},</if>
            <if test="lastLoginTime != null">lastLoginTime = #{lastLoginTime},</if>
            <if test="bankName != null">bankName = #{bankName},</if>
            <if test="accountHolder != null">accountHolder = #{accountHolder},</if>
            <if test="bankAccount != null">bankAccount = #{bankAccount},</if>
            <if test="idCardPicPath != null">idCardPicPath = #{idCardPicPath},</if>
            <if test="bankPicPath != null">bankPicPath = #{bankPicPath}</if>
        </set>
        where id = #{id}
    </update>




    <!-- 更新用户的图片信息 -->
    <update id="delUserPic" parameterType="com.sy.model.User">
        update user
        <set>
            <if test="idCardPicPath != null">idCardPicPath = null,</if>
            <if test="bankPicPath != null">bankPicPath = null</if>
        </set>
        where userId = #{userId}
    </update>


    <!--根据用户名或Id查询用户是否存在-->
    <select id="loginCodeIsExit" resultType="int" parameterType="com.sy.model.User">
        select count(1) from user
        <trim prefix="where" prefixOverrides="and | or">
            <if test="username != null">
                and username = #{username}
            </if>
            <if test="userId != null">
                and userId != #{userId}
            </if>
            <if test="isStart != null">
                and isStart = 1
            </if>
        </trim>
    </select>

    <!-- 搜索框的支持 -->
    <select id="getUserListBySearch" resultType="com.sy.model.User" parameterType="com.sy.model.User">
        select * from user
        <trim prefix="where" prefixOverrides="and | or">

            <if test="username != null">
                and username like #{username}
            </if>
            <if test="roleId != null">
                and roleId = #{roleId}
            </if>
            <if test="isStart != null">
                and isStart = #{isStart}
            </if>
            <if test="referCode != null">
                and referCode like #{referCode}
            </if>
            <if test="referId != null">
                and referId = #{referId}
            </if>
            <if test="userType != null">
                and userType = #{userType}
            </if>
        </trim>
    </select>


    <select id="getUserByloginCode" resultType="com.sy.model.User" parameterType="com.sy.model.User">
   select * from user where username = #{username}
   </select>

    <!--微信直接登录-->
    <select id="getUserByopenid" resultType="com.sy.model.User" parameterType="java.lang.String">
  select * from user where openid = #{openid}
    </select>
  <!--解除微信绑定-->
    <update id="delUserByopenid" parameterType="com.sy.model.User">
		update user set openid = '0' where openid = #{openid}
	</update>

</mapper>
