<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sy.mapper.VideoMapper">
  <resultMap id="BaseResultMap" type="com.sy.model.Video">
    <constructor>
      <idArg column="videoId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="userId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="title" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="subtitle" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="clickCount" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="coverUrl" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="videoUrl" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="state" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="likeCount" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="classifyId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="collectCount" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="actor" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="type" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="region" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="director" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="
douban" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.sy.model.Video">
    <constructor>
      <idArg column="videoId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="userId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="title" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="subtitle" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="clickCount" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="coverUrl" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="videoUrl" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="state" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="likeCount" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="classifyId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="collectCount" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="actor" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="type" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="region" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="director" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="douban" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="info" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    videoId, userId, title, subtitle, clickCount, coverUrl, videoUrl, state, likeCount, 
    classifyId, createTime, collectCount, actor, type, region, director, douban
  </sql>
  <sql id="Blob_Column_List">
    info
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from video
    where videoId = #{videoid,jdbcType=INTEGER}
  </select>
  <select id="select"  resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from video
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from video
    where videoId = #{videoid,jdbcType=INTEGER}
  </delete>
  <select id="selectBytitle"  resultType="java.lang.Integer">
    select
    videoId
    from video   where title = #{title,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.sy.model.Video">
    insert into video ( userId, title,
      subtitle, clickCount, coverUrl, 
      videoUrl, state, likeCount, 
      classifyId, createTime, collectCount, 
      actor, type, region, 
      director, douban, info
      )
    values ( #{userid,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR},
      #{subtitle,jdbcType=VARCHAR}, #{clickcount,jdbcType=INTEGER}, #{coverurl,jdbcType=VARCHAR}, 
      #{videourl,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, #{likecount,jdbcType=INTEGER}, 
      #{classifyid,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, #{collectcount,jdbcType=INTEGER}, 
      #{actor,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{region,jdbcType=VARCHAR}, 
      #{director,jdbcType=VARCHAR}, #{douban,jdbcType=VARCHAR}, #{info,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sy.model.Video">
    insert into video
    <trim prefix="(" suffix=")" suffixOverrides=",">

      <if test="userid != null">
        userId,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="subtitle != null">
        subtitle,
      </if>
      <if test="clickcount != null">
        clickCount,
      </if>
      <if test="coverurl != null">
        coverUrl,
      </if>
      <if test="videourl != null">
        videoUrl,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="likecount != null">
        likeCount,
      </if>
      <if test="classifyid != null">
        classifyId,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="collectcount != null">
        collectCount,
      </if>
      <if test="actor != null">
        actor,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="region != null">
        region,
      </if>
      <if test="director != null">
        director,
      </if>
      <if test="douban != null">
        douban,
      </if>
      <if test="info != null">
        info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">

      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="subtitle != null">
        #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="clickcount != null">
        #{clickcount,jdbcType=INTEGER},
      </if>
      <if test="coverurl != null">
        #{coverurl,jdbcType=VARCHAR},
      </if>
      <if test="videourl != null">
        #{videourl,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="likecount != null">
        #{likecount,jdbcType=INTEGER},
      </if>
      <if test="classifyid != null">
        #{classifyid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="collectcount != null">
        #{collectcount,jdbcType=INTEGER},
      </if>
      <if test="actor != null">
        #{actor,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="region != null">
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="director != null">
        #{director,jdbcType=VARCHAR},
      </if>
      <if test="douban != null">
        #{douban,jdbcType=VARCHAR},
      </if>
      <if test="info != null">
        #{info,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sy.model.Video">
    update video
    <set>
      <if test="userid != null">
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="subtitle != null">
        subtitle = #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="clickcount != null">
        clickCount = #{clickcount,jdbcType=INTEGER},
      </if>
      <if test="coverurl != null">
        coverUrl = #{coverurl,jdbcType=VARCHAR},
      </if>
      <if test="videourl != null">
        videoUrl = #{videourl,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="likecount != null">
        likeCount = #{likecount,jdbcType=INTEGER},
      </if>
      <if test="classifyid != null">
        classifyId = #{classifyid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="collectcount != null">
        collectCount = #{collectcount,jdbcType=INTEGER},
      </if>
      <if test="actor != null">
        actor = #{actor,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="region != null">
        region = #{region,jdbcType=VARCHAR},
      </if>
      <if test="director != null">
        director = #{director,jdbcType=VARCHAR},
      </if>
      <if test="douban != null">
        douban = #{douban,jdbcType=VARCHAR},
      </if>
      <if test="info != null">
        info = #{info,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where videoId = #{videoid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.sy.model.Video">
    update video
    set userId = #{userid,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      subtitle = #{subtitle,jdbcType=VARCHAR},
      clickCount = #{clickcount,jdbcType=INTEGER},
      coverUrl = #{coverurl,jdbcType=VARCHAR},
      videoUrl = #{videourl,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      likeCount = #{likecount,jdbcType=INTEGER},
      classifyId = #{classifyid,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      collectCount = #{collectcount,jdbcType=INTEGER},
      actor = #{actor,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      region = #{region,jdbcType=VARCHAR},
      director = #{director,jdbcType=VARCHAR},
      douban = #{douban,jdbcType=VARCHAR},
      info = #{info,jdbcType=LONGVARCHAR}
    where videoId = #{videoid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sy.model.Video">
    update video
    set userId = #{userid,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      subtitle = #{subtitle,jdbcType=VARCHAR},
      clickCount = #{clickcount,jdbcType=INTEGER},
      coverUrl = #{coverurl,jdbcType=VARCHAR},
      videoUrl = #{videourl,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      likeCount = #{likecount,jdbcType=INTEGER},
      classifyId = #{classifyid,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      collectCount = #{collectcount,jdbcType=INTEGER},
      actor = #{actor,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      region = #{region,jdbcType=VARCHAR},
      director = #{director,jdbcType=VARCHAR},
      douban = #{douban,jdbcType=VARCHAR}
    where videoId = #{videoid,jdbcType=INTEGER}
  </update>
</mapper>